/* Reset default styles for consistency */
* {
 
  background-color: #111111;
}



@font-face {
  font-family: 'SFpro';
  src: url('/fonts/SFpro.otf') format('truetype');
}

@font-face {
  font-family: 'Hasiant';
  src: url('/fonts/Hasiant.otf') format('truetype');
}




body{
  margin:0;
  font-family: 'SFpro';
  font-weight: 500; /* Medium weight */
  font-stretch: expanded;
  color: #ffffff; 
  width: 100%;
  overflow-x: hidden;
  margin-left: 0px;
}

html{
  scroll-behavior: auto; /* custom rAF smooth scrolling handles easing */
}




/* Optional: Centered container for content */

@media (max-width: 1024px) {
  body {
    padding: 0 5px;
    font-size: 1rem;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0 2px;
    font-size: 0.95rem;
    width: 100vw;
  }
}

